<div class="card">
  <img 
    src="https://via.placeholder.com/150" 
    alt="<%= product.name %>" 
    class="card__image"
  />
  <h3 class="card__title"><%= product.name %></h3>
  <p class="card__description"><%= product.description %></p>
  <p class="card__price">$<%= product.price %></p>
  <a href="/products/<%= product.name %>" class="card__link">View Details</a>
  <form action="/products/<%= product.name %>?_method=DELETE" method="POST">
    <button type="submit" class="card__button">Delete</button>
  </form>
</div>